vlt
.classpath
.project
.settings/
target/
*/bin/
.DS_Store
.pmd
lib/*
.repo
MANIFEST.MF

#Intellij
.idea/
*.iml

#Visual Studio Code
.vscode
.history/

#gh-pages
.sass-cache/
_site
.jekyll-metadata

#Java project
pom.xml
all/
core/
core.cloud/
dispatcher/
ui.apps/
ui.app.structure/
ui.content/
ui.content.sample/
ui.config/
ui.frontend.theme.light/
ui.frontend.theme.dark/

#vlt directories
content/src/main/content/jcr_root/.content.xml
content/src/main/content/jcr_root/apps/.content.xml
content/src/main/content/jcr_root/etc/.content.xml
content/src/main/content/jcr_root/etc/designs/.content.xml
content/src/main/content/jcr_root/etc/clientlibs/.content.xml