scripts=["
create service user asset-share-commons-email-service

create service user asset-share-commons-mimetype-service
set ACL for asset-share-commons-mimetype-service
    allow jcr:read on /libs/dam/gui/content/assets/jcr:content/mimeTypeLookup
end

create path /conf/asset-share-commons(sling:Folder)
"]

