scripts=["
    create service user asset-share-commons-email-service

    create path /conf/asset-share-commons(sling:Folder)
    create path (sling:Folder) /conf/asset-share-commons/settings/notification/email

    set ACL for asset-share-commons-email-service
        allow jcr:read on /conf/asset-share-commons/settings/notification/email
    end
"]

