</div>

<!-- Scripts -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.baseurl }}/assets/js/jquery.pjax.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>

</body>
</html>