<!DOCTYPE HTML>
<html>
<head>
    
    {% if site.title == page.title %}
        <title>{{ site.title }}</title>
    {% elsif %}
        <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="google-site-verification" content="nxGc4FuU-7YLqfNeEnRy3dIJI6uKzYpkPMCuDb7Dtqs" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40089470-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-40089470-5');
    </script>

    <!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">
