<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h3>{{ site.title }}</h3>
            </header>
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li>
                    <span class="opener">Getting Started</span>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/getting-started/set-up/">Set Up</a></li>
                        <li><a href="{{ site.baseurl }}/pages/getting-started/performance/">Performance Considerations</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Search Components</span>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/search/search-page">Search Page</a></li>
                        <li><a href="{{ site.baseurl }}/pages/search/date-range">Date Range Filter</a></li>
                        <li><a href="{{ site.baseurl }}/pages/search/filter-toggle">Filter Toggle</a></li>
                        <li><a href="{{ site.baseurl }}/pages/search/hidden">Hidden Filter</a></li>
                        <li><a href="{{ site.baseurl }}/pages/search/layout-toggle">Layout Toggle</a></li>
                        <li><a href="{{ site.baseurl }}/pages/search/property">Property Filter</a></li>
                        <li><a href="{{ site.baseurl }}/pages/search/search-bar">Search Bar</a></li>
                        <li><a href="{{ site.baseurl }}/pages/search/results">Search Results</a></li>
                        <li><a href="{{ site.baseurl }}/pages/search/statistics">Search Statistics</a></li>
                        <li><a href="{{ site.baseurl }}/pages/search/sort">Sort</a></li>
                        <li><a href="{{ site.baseurl }}/pages/search/tags">Tags Filter</a></li>

                    </ul>
                </li>
                <li>
                    <span class="opener">Asset Details Components</span>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/details/details-page">Asset Details Page</a></li>
                        <li><a href="{{ site.baseurl }}/pages/details/action-buttons">Action Buttons</a></li>
                        <li><a href="{{ site.baseurl }}/pages/details/editor-links">AEM Editor Links</a></li>
                        <li><a href="{{ site.baseurl }}/pages/details/image">Image</a></li>
                        <li><a href="{{ site.baseurl }}/pages/details/metadata">Metadata</a></li>
                        <li><a href="{{ site.baseurl }}/pages/details/renditions">Renditions</a></li>
                        <li><a href="{{ site.baseurl }}/pages/details/tags">Tags</a></li>
                        <li><a href="{{ site.baseurl }}/pages/details/title">Title</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Action Components</span>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/actions/download">Download</a></li>
                        <li><a href="{{ site.baseurl }}/pages/actions/cart">Cart</a></li>
                        <li><a href="{{ site.baseurl }}/pages/actions/share">Share</a></li>
                        <li><a href="{{ site.baseurl }}/pages/actions/license">License</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/pages/content/">Content Components</a></li>
                <li>
                    <span class="opener">Structure Components</span>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/structure/page">Base Page</a></li>
                        <li><a href="{{ site.baseurl }}/pages/structure/header">Header</a></li>
                        <li><a href="{{ site.baseurl }}/pages/structure/messages">Messages</a></li>
                        <li><a href="{{ site.baseurl }}/pages/structure/user-menu">User Menu</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Development</span>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/development/guide/">Development Guide</a></li>
                        <li><a href="{{ site.baseurl }}/pages/development/theming/">Theming</a></li>
                        <li><a href="{{ site.baseurl }}/pages/development/computed-properties/">Computed Properties</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/pages/contribute/">Contributing</a></li>
                <li><a href="{{ site.baseurl }}/pages//license-support/">Support &amp; Licensing</a></li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Download</h2>
            </header>
            <article>
                <p>Download the latest release from GitHub.</p>
            </article>
            <ul class="actions">
                <li><a href="https://github.com/Adobe-Marketing-Cloud/asset-share-commons/releases" target="_blank" class="button">Download</a></li>
            </ul>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>GitHub Project</h2>
            </header>
            <p>
                Asset Share Commons source code is open and freely available on GitHub.
            </p>

            <ul class="contact">
                <li class="fa-github"><a href="https://github.com/Adobe-Marketing-Cloud/asset-share-commons" target="_blank">github.com/Adobe-Marketing-Cloud/asset-share-commons</a></li>
                <li class="fa-bug"><a href="https://github.com/Adobe-Marketing-Cloud/asset-share-commons/pulls" target="_blank">Report issues</a></li>
                <li class="fa-pencil"><a href="{{ site.baseurl }}/pages/contribute/">Learn how to contribute</a></li>
                <li class="fa-rocket"><a href="{{ site.baseurl }}/pages/contribute/release-process">Learn about the release process</a></li>
				
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Adobe Systems, Inc.</p>
        </footer>

    </div>
</div>