.content-page {
  margin-top: 1rem;
  margin-bottom: 4rem;

  h2 {
    border-top: solid 3px _palette(accent);
    padding-top: 1rem;
    margin-top: 2rem;
  }

  h2:before {
    content: ' ';
    clear: both;
    padding-top: 100px;
  }

  h3 {
    border-top: solid 1px _palette(border);
    padding-top: 1rem;
  }
}