org.apache.sling.commons.log.additiv="false"
org.apache.sling.commons.log.file="logs/error.log"
org.apache.sling.commons.log.level="$[env:ASC_LOG_LEVEL;default\=debug]"
org.apache.sling.commons.log.names=[ "com.adobe.aem.commons.assetshare" ]
org.apache.sling.commons.log.pattern="{0,date,yyyy-MM-dd\ HH:mm:ss.SSS}\ {4}\ [{3}]\ {5}"
