### Dialog / Search Behavior tab

![Search Behavior dialog](./images/dialog-search-behavior.png)

#### Auto-Search on Change (v1.3.0)

Select to automatically trigger as search any time the selected value changes.

#### Update on Search

Specifies if the component's view should be refreshed after each search.

* Never
    * The Default value.
    * Do not replace the view of the component on search.
    * Typically set to Never unless the search options vary based on the current search state.
* Replace
    * Replace the view of the component on search.