---
layout: default
---
<div class="content-page doc-page component-page">
    <h1>{{ page.title }} Component</h1>

    <section class="component-details">
        <ul class="component-details__list">
            <li><span class="component-details--label">Component title:</span> {{ page.title }}</li>
            <li><span class="component-details--label">Component group:</span> Asset Share Commons - {{ page.component-group }}</li>
            <li><span class="component-details--label">Released with version </span> {{ page.initial-version | default: "1.0.0" }}</li>                
            {% if page.last-updated-version %}
            <li><span class="component-details--label">Last updated in version </span> {{ page.last-updated-version }}</li>
            {% endif %}
            {% if page.compatibility %}
            <li><span class="component-details--label">Compatibility: </span> {{ page.compatibility }}</li>
            {% endif %}            
        </ul>
    </section>

    <article class="page-content">
    {{ content }}
    </article>
</div>
