.cmp-details-cf-renderer .cmp-wrapper {
padding: 1em 5em 1em 5em;
margin: 0 -3em;
}
.cmp-details-cf-renderer .background {
background-color: #F4F4F4;
}
.cmp-details-cf-renderer p::selection, .cf-render div::selection {
background-color: #e0e0e0;
}

