scripts=["
    create path (sling:Folder) /conf/asset-share-commons/settings/wcm(cq:Page)/policies(cq:Page)
    create path (sling:Folder) /conf/asset-share-commons/settings/wcm(cq:Page)/templates(cq:Page)

    set ACL for everyone
        allow jcr:read on /conf/asset-share-commons/settings/wcm/policies
        allow jcr:read on /conf/asset-share-commons/settings/wcm/templates
    end
"]

